<template>
  <div class ="wrapper-landing">
    <div class="header">
      <img src="../../../assets/logo_blanco.png" class="logo" alt="Sandoz">
      <a class="volver" rel="ar" href="/realidad-aumentada/">
        <button>Volver al inicio</button>
      </a>
    </div>
    <div class="aframe-scene-sandoz">
      <a class="back" href="javascript:history.back()">← Volver</a>
      <h1 style="font-family:VoltaModernDisplay95; font-size:48pt;">ZIEXTENZO</h1>
      <div class="product-card">
        <div class="product-image">
          <a rel="ar" href="../assets/models/ziextenzo/ziextenzo.usdz">
            <img src="../../../assets/img/disenos/ziex2.png" alt="ZiextenzoImagen" />
          </a>
        </div>
        <div class="qr">
           <img src="../../../assets/img/disenos/ziex1.png" alt="ZiextenzoLogo" />
          <p style="font-family:Volta45Light; font-size:18pt">Escanea el QR con tu iPhone</p>
          <img src="../../../assets/img/qr/qrZiextenzo.png" alt="qrZiextenzo" />
          <div class="social">
            <p style="font-family:Volta45Light; font-size:12pt; color:#1c60a9">Compartir</p>
            <a
              rel="ar"
              href="https://twitter.com/intent/tweet?text=Ziextenzo&url=https://sandoz-biosimilares.com/realidad-aumentada/hemato/ziextenzo&hashtags=pruebacalidad"
            >
              <img
                src="../../../assets/img/share/twitter.png"
                alt="Comparte Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sharer/sharer.php?u=https://sandoz-biosimilares.com/realidad-aumentada/hemato/ziextenzo"
            >
              <img src="../../../assets/img/share/facebook.png" alt="Comparte Facebook" />
            </a>          
          </div>
        </div>
      </div>   
      <div class="youtube">
        <video
          src="../../../assets/video/ZIEXTENZO.mp4" controls loop
        />
      </div>
    </div>    
    <div class="footer">
      <img src="../../../assets/LOGO.png" class="logo" alt="Sandoz">
      <div class="socialf">
              <a
              class="share"
              rel="ar"
              href="https://www.youtube.com/user/Sandoz"
            >
              <img src="../../../assets/img/share/youtube.png" alt="Youtube" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/sandoz_global"
            >
              <img
                src="../../../assets/img/share/twitter.png"
                alt="Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sandozglobal/"
            >
              <img src="../../../assets/img/share/facebook.png" alt="Facebook" />
            </a>       
      </div>
      <hr>
      <div class="copy">
        <p>@2020 Sandoz Farmacéutica, S.A - All Right Reserved</p>
      </div>

      <div class="terms">
        <p>Privacy Policy <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Terms of Service</p>
      </div>


    </div>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: "Sandoz | Ziextenzo",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Plataforma de realidad aumentada",
        },
        { property: "og:title", content: "Ziextenzo" },
        { property: "og:site_name", content: "Epiloge" },
        { property: "og:description", content: "Ziextenzo" },
        { property: "og:type", content: "profile" },
        {
          property: "og:url",
          content: "https://sandoz-biosimilares.com/realidad-aumentada/hemato/ziextenzo",
        },
        {
          property: "og:image",
          content:
            "https://sandoz-biosimilares.com/realidad-aumentada/assets/img/disenos/ziex2.png",
        },
      ],
      htmlAttrs: {
        lang: "en",
      },
    };
  },
};
</script>



<style scoped>
@font-face {
  font-family: "Joaquinetica";
  src: url("../../../assets/Joaquinetica-Blk.ttf");
}

@font-face {
  font-family: "SFProText";
  src: url("../../../assets/SFProText.ttf");
}

@font-face {
  font-family: "Volta45Light";
  src: url("../../../assets/fonts/VoltaModernDisplay-45Light.otf");
}


@font-face{
  font-family: "VoltaModernDisplay95";
  src: url("../../../assets/fonts/VoltaModernDisplay-95Black.otf");
}

@font-face{
  font-family: "VoltaModernDisplay55";
  src: url("../../../assets/fonts/VoltaModernDisplay-55Roman.otf");
}

.wrapper-landing {
  display: inline-grid;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: Joaquinetica;
}

html,
body {
  height: 100%;
}
.aframe-scene-sandoz {
  background-color: white;
  height: 100%;
  padding-top: 25px;
  min-height: 100vh;
}

.logo {  
  float:left;
  margin: 0px 15px 15px 10%;
}


.back{
  margin-left: 19%;
  color: #1c60a9;
  text-decoration: none;
}

hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

h1 {
  font-family: Volta Modern Display 95 Black;
  font-size: 24pt;
  text-align: center;
  margin-bottom: 60px;
  color: #1c60a9;
}
p{
  color: #1c60a9;
}

h4 {
  font-family: Joaquinetica;
  background-color: #1c60a91f;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-image {
  overflow: hidden;
  border-radius: 10px;
  margin-left: 25%;
}

.product-image > a > img {
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: 44%  44%;
  margin-left: 16%;
}

.qr {
  float: right;
  margin: 0 auto;
  margin-right: 25%;
  height: 380px;
}
.youtube video {
  width: 60%;
  text-align: center;
  margin: 0 auto;
  display: block;
  height: 400px;
  margin-bottom: 2%;
}

.qr img {
  height: auto;
  max-width: 40%;
  display: block;
  margin-top: 2%;
  margin-left: 5%;
}

.qr p{
  padding-top: 6%;
}

.social {
  display: grid;
  grid-template-columns: 24% 9% 9%;
  margin-top: 10%;
  margin-left: 2%;
}
.social p{
  font-size: 12pt;
  margin-top: -10%;
}

.socialf {
  width: 20%;
  float: right;
  margin-top: 5px;
}
.socialf img{
  margin-left: 8%;
}

button {
  background-color: transparent;
  font-family: Joaquinetica;
  border-radius: 4px;
  height: 30px;
  border:2px solid white;
  color:white;
}

.volver {
  width: 100%;
  position:absolute;
  text-align: right;
  padding-right: 10%;
}

.header {
  background-color: #1c60a9;
  color: #fff;
  padding-top:1%;
  height: 12vh;
  border-top: solid #fff 0.5px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: rgb(218, 218, 218);
  color: #1c60a9;
  font-family: VoltaModernDisplay55;
  padding-top:4%;
  border-top: solid #fff 0.5px;
  align-items: center;
}

.copy {
  position: absolute;
  width: 40%;
  margin: 0 0 5% 10%;
}

.terms{
  float: right;
  text-align: right;
  width: 40%;
  margin: 0 10% 5% 0;
}

.row.fourth {
  font-weight: 900;
  font-size: 12px;
  line-height: 29px;
}

@media screen and (max-width: 1100px) {
  .product-card {
    position: relative;
    display: block;  
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .footer {
    font-size: 14px;
  }

  .product-image {
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    margin-left: 0;
  }
  .qr {
    float:none;
    text-align: center;
    margin-right: 0;
    height: auto;
  }

  .qr img {
    display:inline;
    margin: 0;
    max-width: 40%;
    text-align: center;
  }
  .social{
    position: relative;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding-left: 20%;
  }


  .qr p{
    font-family: "VoltaT";
    src: url("../../../assets/VoltaT.ttf");
    font-size: 14pt;
    padding-top: 6%;
  }
  
}

@media screen and (max-width: 900px) {
  .youtube {
    margin-top:10px;
  }

  .youtube video {
    height: 340px;
  }

  .footer {
    font-size: 12px;
  }

}

@media screen and (max-width: 750px) {
  .youtube video {
    height: 310px;
  }

 .social[data-v-7b042bc9] {
    grid-template-columns: 34% 9% 9% 9%;
  }

  .footer {
    font-size: 10px;
  }

}

@media screen and (max-width: 600px) {
  .youtube video {
    height: 260px;
  }

  .social[data-v-7b042bc9] {
    grid-template-columns: 44% 9% 9% 9%;
    padding-left: 10%;
  }

  .footer {
    font-size: 9px;
  }
}

@media screen and (max-width: 500px) {
  .youtube video {
    height: 250px;
  }
  .footer {
    font-size: 8px;
  }
}
</style>
