<template>
  <div class ="wrapper-landing">
    <div class="header">
      <img src="../../../assets/logo_blanco_mobile.png" class="logo" alt="Sandoz">
      <a class="volver" rel="ar" href="/realidad-aumentada/">
        <button>Inicio</button>
      </a>
    </div>
    <div class="aframe-scene-sandoz">
      <div class="product-card">
        <div class="product-image">
          <a rel="ar">
            <img src="../../../assets/img/binocrit.jpg" alt="Binocrit" />
          </a>
        </div>
      </div>
      <br /><br />
      <div class="youtube">
        <video
          src="../../../assets/video/BINOCRIT.mp4" controls loop
        />
      </div>
      <div class="social">
        <a
              class="share"
              rel="ar"
              href="https://api.whatsapp.com/send?text=Binocrit%20https://sandoz-biosimilares.com/realidad-aumentada/hemato/binocrit"
            >
              <img src="../../../assets/img/share/whatsapp.png" alt="Comparte Whatsapp" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/intent/tweet?text=Binocrit&url=https://sandoz-biosimilares.com/realidad-aumentada/hemato/binocrit&hashtags=pruebacalidad"
            >
              <img
                src="../../../assets/img/share/twitter.png"
                alt="Comparte Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sharer/sharer.php?u=https://sandoz-biosimilares.com/realidad-aumentada/hemato/binocrit"
            >
              <img src="../../../assets/img/share/facebook.png" alt="Comparte Facebook" />
            </a> 
      </div>   
    </div>
    <div class="footer">
      <img src="../../../assets/LOGO_mobile.png" class="logo" alt="Sandoz">
      <div class="socialf">
             <a
              class="share"
              rel="ar"
              href="https://www.youtube.com/user/Sandoz"
            >
              <img src="../../../assets/img/share/youtube.png" alt="Youtube" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/sandoz_global"
            >
              <img
                src="../../../assets/img/share/twitter.png"
                alt="Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sandozglobal/"
            >
              <img src="../../../assets/img/share/facebook.png" alt="Facebook" />
            </a>      
      </div>
      <hr>
      <div class="copy">
        <p>@2020 Sandoz Farmacéutica, S.A - All Right Reserved</p>
      </div>

      <div class="terms">
        <p>Privacy Policy <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Terms of Service</p>
      </div>


    </div>
  </div>
</template>


<script>
export default {
  head() {
    return {
      title: "Sandoz | Binocrit",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Plataforma de realidad aumentada",
        },
        { property: "og:title", content: "Binocrit" },
        { property: "og:site_name", content: "Epiloge" },
        { property: "og:description", content: "Binocrit" },
        { property: "og:type", content: "profile" },
        {
          property: "og:url",
          content: "https://sandoz-biosimilares.com/realidad-aumentada/hemato/binocrit",
        },
        {
          property: "og:image",
          content:
            "https://sandoz-biosimilares.com/realidad-aumentada/assets/img/disenos/012.png",
        },
      ],
      htmlAttrs: {
        lang: "en",
      },
    };
  },
};
</script>



<style scoped>
@font-face {
  font-family: "Joaquinetica";
  src: url("../../../assets/Joaquinetica-Blk.ttf");
}

@font-face {
  font-family: "SFProText";
  src: url("../../../assets/SFProText.ttf");
}
@font-face {
  font-family: "Volta45Light";
  src: url("../../../assets/fonts/VoltaModernDisplay-45Light.otf");
}


@font-face{
  font-family: "VoltaModernDisplay95";
  src: url("../../../assets/fonts/VoltaModernDisplay-95Black.otf");
}

@font-face{
  font-family: "VoltaModernDisplay55";
  src: url("../../../assets/fonts/VoltaModernDisplay-55Roman.otf");
}

.wrapper-landing {
  display: inline-grid;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: Joaquinetica;
}

html,
body {
  height: 100%;
}

.header {
  background-color: #1c60a9;
  color: #fff;
  padding-top:1%;
  height: 12vh;
  border-top: solid #fff 0.5px;
  display: flex;
  align-items: center;
}
.logo {  
  float:left;
  margin: 0px 15px 15px 10%;
  padding-top: 2%;
}
.volver {
  width: 100%;
  position:absolute;
  text-align: right;
  padding-right: 4%;
  padding-bottom: 4%;
  padding-top: 2%;
}
button {
  background-color: transparent;
  font-family: Joaquinetica;
  border-radius: 4px;
  height: 30px;
  border:2px solid white;
  color:white;
}

.aframe-scene-sandoz {
  background-color: #1c60a91f;
  height: 100%;
  padding-top: 25px;
  min-height: 100vh;
}


h4 {
  font-family: Joaquinetica;
  background-color: #1c60a91f;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-image {
  overflow: hidden;
  border-radius: 10px;
}

.product-image > a > img {
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card {
  border-radius: 10px;
  margin: 0 auto;
  width: 300px;
  padding-top: 0px;
  margin-bottom: 20px;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}

.qr {
  margin-top: 5%;
  text-align: center;
}



.youtube video {
  width: 70%;
  height: 300px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}

.social {
  height: 34px;
  bottom: 0;
  width: 100%;
  margin-top:2%;
  text-align: center;
}

.volver {
  float: left;
}


.container2 {
  background-color: #1c60a9;
  color: #fff;
  padding-top:1%;
  height: 10vh;
  border-top: solid #fff 0.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row.fourth {
  font-weight: 900;
  font-size: 12px;
  line-height: 29px;
}

.footer {
  background-color: rgb(218, 218, 218);
  color: #1c60a9;
  font-size: 6px;
  font-family: VoltaModernDisplay55;
  padding-top:4%;
  border-top: solid #fff 0.5px;
  align-items: center;
}

.copy {
  position: absolute;
  width: 40%;
  margin: 0 0 5% 10%;
}

.terms{
  float: right;
  text-align: right;
  width: 40%;
  margin: 0 10% 5% 0;
}
hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.socialf {
  width: 20%;
  float: right;
  margin-top: 5px;
}
.socialf img{
  margin-left: 8%;
}




@media screen and (max-width: 320px) {
  .youtube video {
    height: 200px;
  }
  .footer {
    font-size: 4px;
  }
}


</style>
