<template>
  <div>
    <div class="wrapper-landing">
      <div class="container">
        <div class="row first">
          <div class="col"></div>
          <div class="col-10">
            <img src="../assets/Sandoz-Logo.svg" class="logo" alt="Sandoz">
            <div class="title-landing">Bienvenidos a la plataforma de realidad aumentada de Sandoz</div>
          </div>
          <div class="col"></div>
        </div>
        <div class="row scnd">
          <div class="col-12"></div>
        </div>
        <div class="row thrd">
          <div class="col-12">
            <router-link to="/scan/">
              <button>Ver productos</button>
            </router-link>
          </div>
        </div>
      </div>
      <div class="footer">
      <img src="../assets/LOGO.png" class="logof" alt="Sandoz">
      <div class="socialf">
             <a
              class="share"
              rel="ar"
              href="https://www.youtube.com/user/Sandoz"
            >
              <img src="../assets/img/share/youtube.png" alt="Youtube" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/sandoz_global"
            >
              <img
                src="../assets/img/share/twitter.png"
                alt="Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sandozglobal/"
            >
              <img src="../assets/img/share/facebook.png" alt="Facebook" />
            </a>     
      </div>
      <hr>
      <div class="copy">
        <p>@2020 Sandoz Farmacéutica, S.A - All Right Reserved</p>
      </div>

      <div class="terms">
        <p>Privacy Policy <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Terms of Service</p>
      </div>

    </div>

      <!--<div class="container2">
        <div class="row fourth">
          <div class="col-3">Ziextenzo  &nbsp;&nbsp; Binocrit &nbsp;&nbsp; Ereizi &nbsp;&nbsp; Rixathon </div>
          <div>  &nbsp;&nbsp; Zarzio &nbsp;&nbsp; Zessly &nbsp;&nbsp; Hyrimoz</div>

        </div>
      </div>-->
    </div>

  </div>
</template>

<script>
export default {
  head() {
    return{
      title: 'Sandoz | Home',
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Scanss",
        },
        { property: "og:title", content: "Sandoz" },
        { property: "og:site_name", content: "Sandoz" },
        { property: "og:description", content: "Plataforma de realidad aumentada " },
        { property: "og:type", content: "profile" },
        {
          property: "og:url",
          content: "https://sandoz-biosimilares.com/realidad-aumentada/",
        },
        {
          property: "og:image",
          content:
            "https://sandoz-biosimilares.com/realidad-aumentada/assets/LOGO.png",
        },
      ],
      htmlAttrs: {
        lang: 'en'
      }
    }
  }
}
</script>

<style scoped>
@font-face {
  font-family: "Joaquinetica";
  src: url("../assets/Joaquinetica-Blk.ttf");
}

@font-face {
  font-family: "SFProText";
  src: url("../assets/SFProText.ttf");
}
@font-face {
  font-family: "Volta45Light";
  src: url("../assets/fonts/VoltaModernDisplay-45Light.otf");
}


@font-face{
  font-family: "VoltaModernDisplay95";
  src: url("../assets/fonts/VoltaModernDisplay-95Black.otf");
}

@font-face{
  font-family: "VoltaModernDisplay55";
  src: url("../assets/fonts/VoltaModernDisplay-55Roman.otf");
}
.wrapper-landing {
  height: 100%;
  width: 100vw;
  background-color: #fff;
  font-family: Joaquinetica;
}


html,
body {
  height: 100%;
}
.container {
  width: 100%;
  height: 92vh;
  display: grid;
  background-image: url("../assets/background-sandoz.png");
  background-position-x: 87%;
  background-repeat: no-repeat;
  background-size: cover;
}



.row {
  text-align: center;
}

button {
  background-color: #fff;
  font-family: Joaquinetica;
  color: #1c60a9;
  border-radius: 10px;
  width: 240px;
  height: 50px;
  border: 0;
}

/*.row.first {
}

.row.sncd {
}*/

.row.thrd {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.row.thrd p {
  color: #fff;
}

.row.thrd .margin {
  margin-bottom: 32px;
  margin-top: 15px;

  font-weight: 900;
  font-size: 14px;
  line-height: 25px;
}

.row.thrd .margin a {
  color: #fff;
  text-decoration-color: #fff;
  text-decoration: underline;
}

.row.fourth {
  font-weight: 900;
  font-size: 12px;
  line-height: 29px;
}

.logo {
  width: 100%;
  margin-top: 15px;
}

.background-img {
  background-size: cover;
}

.title-landing {
  color: #1c60a9;
  font-size: 1em;
  margin-top: 1em;
  font-family: Joaquinetica;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 29px;
}



.logof {  
  float:left;
  margin: 0px 15px 15px 10%;
}
.footer {
  width: 100%;
  height: 210px;
  background-color: rgb(218, 218, 218);
  color: #1c60a9;
  font-family: VoltaModernDisplay55;
  padding-top:4%;
  border-top: solid #fff 0.5px;
  align-items: center;
}
.socialf {
  width: 20%;
  float: right;
  margin-top: 5px;
}
.socialf img{
  margin-left: 8%;
}
hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.copy {
  position: absolute;
  width: 40%;
  margin: 0 0 5% 10%;
}
.terms{
  float: right;
  text-align: right;
  width: 40%;
  margin: 0 10% 5% 0;
}

@media screen and (max-width: 900px) {
  .footer{
    font-size: 12px;
    height: 170px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 100%;
    background-position-x: 96%;
  }
  .logo {
    width: 59%;
    margin-top: 35px;
  }
  
}


@media screen and (max-width: 750px) {
  .footer{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer{
    font-size: 9px;
    height: 140px;
  }
  button {
    font-size: 22px;
  }
}
@media screen and (max-width: 500px) {
 .footer {
    font-size: 8px;
  }
  button {
    font-size: 20px;
  }
}

@media screen and (max-width: 400px) {
  button {
    font-size: 18px;
  }

}


@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }

  .logo {
    width: 59%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
    background-position-y: 55%;
  }

  .logo {
    width: 39%;
  }
}
</style>
