<template>
<div>
  <div class="wrapper-landing"> 
      <div class="header">
      <img src="../assets/logo_blanco.png" class="logo" alt="Sandoz">
      <a class="volver" rel="ar" href="/realidad-aumentada/">
        <button>Volver al inicio</button>
      </a>
  </div>
    <div v-if="$device.isMobile">
      <div class="aframe-scene-sandoz">
        <div v-if="$device.isIos">
          <hr>
          <h1>Hematología</h1>
          <hr>
          <div class="product-card">
            <!-- <h4>Binocrit</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/binocrit/binocrit.usdz">
                <img src="../assets/img/binocrit.jpg" alt="Binocrit" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Ziextenzo</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/ziextenzo/ziextenzo.usdz">
                <img src="../assets/img/ziextenzo.jpg" alt="Ziextenzo" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Zarzio</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/zarzio/zarzio.usdz">
                <img src="../assets/img/zarzio.jpg" alt="Zarzio" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Rixathon</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/rixathon/rixathon.usdz">
                <img src="../assets/img/rixathon.jpg" alt="Rixathon" />
              </a>
            </div>
          </div>
          <hr>
          <h1>Inmunología</h1>
          <hr>
          <div class="product-card">
            <!-- <h4>Zessly</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/zessly/zessly.usdz">
                <img src="../assets/img/zessly.jpg" alt="Zessly" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Erelzi</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/erelzi/erelzi.usdz">
                <img src="../assets/img/erelzi.jpg" alt="Erelzi" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Hyrimoz</h4> -->
            <div class="product-image">
              <a rel="ar" href="assets/models/hyrimoz/hyrimoz.usdz">
                <img src="../assets/img/hyrimoz.jpg" alt="Hyrimoz" />
              </a>
            </div>
          </div>
        </div>
        <div v-else>
          <!-- No es Ios -->
          <hr>
          <h1>Hematología</h1>
          <hr>
          <div class="product-card">
            <!-- <h4>Binocrit</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/binocrit/Mobile"
              >
                <img src="../assets/img/binocrit.jpg" alt="Binocrit" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Ziextenzo</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/ziextenzo/Mobile"
              >
                <img src="../assets/img/ziextenzo.jpg" alt="Ziextenzo" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Zarzio</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/zarzio/Mobile"
              >
                <img src="../assets/img/zarzio.jpg" alt="Zarzio" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Rixathon</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/rixathon/Mobile"
              >
                <img src="../assets/img/rixathon.jpg" alt="Rixathon" />
              </a>
            </div>
          </div>
          <hr>
          <h1>Inmunología</h1>
          <hr>
          <div class="product-card">
            <!-- <h4>Zessly</h4> -->
            <div class="product-image">
              <a rel="ar"
              href="inmuno/zessly/Mobile">
                <img src="../assets/img/zessly.jpg" alt="Zessly" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Erelzi</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="inmuno/erelzi/Mobile"
              >
                <img src="../assets/img/erelzi.jpg" alt="Erelzi" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Hyrimoz</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="inmuno/hyrimoz/Mobile"
              >
                <img src="../assets/img/hyrimoz.jpg" alt="Hyrimoz" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-else>
      <div class="aframe-scene-sandoz">
        <hr>
        <h1>Hematología</h1>
        <hr>
        <div class="grid-container">
          <!-- Es desktop -->
          <div class="product-card">
            <!-- <h4>Binocrit</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/binocrit/Desktop"
              >
                <img src="../assets/img/binocrit.jpg" alt="Binocrit" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Ziextenzo</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/ziextenzo/Desktop"
              >
                <img src="../assets/img/ziextenzo.jpg" alt="Ziextenzo" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Zarzio</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/zarzio/Desktop"
              >
                <img src="../assets/img/zarzio.jpg" alt="Zarzio" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Rixathon</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="hemato/rixathon/Desktop"
              >
                <img src="../assets/img/rixathon.jpg" alt="Rixathon" />
              </a>
            </div>
          </div>
        </div>
        <hr>
        <h1>Inmunología</h1>
        <hr>
        <div class="grid-container">
          <div class="product-card">
            <!-- <h4>Zessly</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="inmuno/zessly/Desktop"
              >
                <img src="../assets/img/zessly.jpg" alt="Zessly" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Erelzi</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="inmuno/erelzi/Desktop"
              >
                <img src="../assets/img/erelzi.jpg" alt="Erelzi" />
              </a>
            </div>
          </div>
          <div class="product-card">
            <!-- <h4>Hyrimoz</h4> -->
            <div class="product-image">
              <a
                rel="ar"
                href="inmuno/hyrimoz/Desktop"
              >
                <img src="../assets/img/hyrimoz.jpg" alt="Hyrimoz" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <img src="../assets/LOGO.png" class="logo" alt="Sandoz">
      <div class="socialf">
            <a
              class="share"
              rel="ar"
              href="https://www.youtube.com/user/Sandoz"
            >
              <img src="../assets/img/share/youtube.png" alt="Youtube" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/sandoz_global"
            >
              <img
                src="../assets/img/share/twitter.png"
                alt="Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sandozglobal/"
            >
              <img src="../assets/img/share/facebook.png" alt="Facebook" />
            </a> 
      </div>
      <hr>
      <div class="copy">
        <p>@2020 Sandoz Farmacéutica, S.A - All Right Reserved</p>
      </div>

      <div class="terms">
        <p>Privacy Policy <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Terms of Service</p>
      </div>


    </div>
  </div>
</div>
</template>

<script>
import Vue from "vue";

export default {
  head() {
    return {
      title: "Sandoz | Scan",
      meta: [
        {
          hid: "description",
          name: "description",
          content: "Scanss",
        },
        { property: "og:title", content: "Sandoz" },
        { property: "og:site_name", content: "Sandoz" },
        { property: "og:description", content: "Plataforma de realidad aumentada " },
        { property: "og:type", content: "profile" },
        {
          property: "og:url",
          content: "https://sandoz-biosimilares.com/realidad-aumentada/",
        },
        {
          property: "og:image",
          content:
            "https://sandoz-biosimilares.com/realidad-aumentada/assets/LOGO.png",
        },
      ],
      htmlAttrs: {
        lang: "en",
      },
    };
  },
};
</script>



<style scoped>
@font-face {
  font-family: "Joaquinetica";
  src: url("../assets/Joaquinetica-Blk.ttf");
}

@font-face {
  font-family: "SFProText";
  src: url("../assets/SFProText.ttf");
}
@font-face {
  font-family: "Volta45Light";
  src: url("../assets/fonts/VoltaModernDisplay-45Light.otf");
}


@font-face{
  font-family: "VoltaModernDisplay95";
  src: url("../assets/fonts/VoltaModernDisplay-95Black.otf");
}

@font-face{
  font-family: "VoltaModernDisplay55";
  src: url("../assets/fonts/VoltaModernDisplay-55Roman.otf");
}
.wrapper-landing {
  display: inline-grid;
  min-width: 100%;
  min-height: 100%;
  background-color: #fff;
  font-family: Joaquinetica;
}

html,
body {
    width: 100%;

  height: 100%;
}


/* Grid Desktop */
.grid-container {
  display: grid;
  text-align: center;
  grid-gap: 50px;
  grid-template-columns: 22% 22% 22% 22%;
  padding: 10px;
  min-height: 100%;
}

.header {
  background-color: #1c60a9;
  color: #fff;
  padding-top:1%;
  height: 10vh;
  border-top: solid #fff 0.5px;
  display: flex;
  align-items: center;
}
.aframe-scene-sandoz {
  background-color: #1c60a91f;
  padding-top: 25px;
  padding-bottom: 105px;
}

hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

h1{
  text-align: center;
  margin: 20px;
  font-family: "VoltaModernDisplay95";
  color: #1c60a9;
}

.volver {
  width: 100%;
  position:relative;
  text-align: right;
  padding-right: 10%;
}

.logo {  
  float:left;
  margin: 0px 15px 15px 10%;
}

button {
  background-color: transparent;
  font-family: Joaquinetica;
  border-radius: 4px;
  height: 30px;
  border:2px solid white;
  color:white;
}

h4 {
  font-family: Joaquinetica;
  color: #1c60a9;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-image {
  overflow: hidden;
  border-radius: 10px;
}

.product-image > a > img {
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card {
  border-radius: 10px;
  margin: 0 auto;
  width: 300px;
  padding-top: 0px;
  margin-bottom: 20px;
  /*box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);*/
}

.social {
  background-color: #1c60a91f;
  display: flex;
  bottom: 0;
  width: 100%;
  text-align: left;
}


.footer {
  background-color: rgb(218, 218, 218);
  color: #1c60a9;
  font-family: VoltaModernDisplay55;
  padding-top:4%;
  border-top: solid #fff 0.5px;
  align-items: center;
}
.socialf {
  width: 20%;
  float: right;
  margin-top: 5px;
}
.socialf img{
  margin-left: 8%;
}
.copy {
  position: absolute;
  width: 40%;
  margin: 0 0 5% 10%;
}
.terms{
  float: right;
  text-align: right;
  width: 40%;
  margin: 0 10% 5% 0;
}


.row.fourth {
  font-weight: 900;
  font-size: 12px;
  line-height: 29px;
}


@media only screen and (max-width: 1000px) {
  .grid-container {
    text-align: center;
    grid-template-columns: repeat(auto-fill, 22em);
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 900px) {
  .footer{
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  .footer{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer{
    font-size: 9px;
  }
}
@media screen and (max-width: 500px) {
 .footer {
    font-size: 8px;
  }
  .logo{
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
 .footer {
    font-size: 8px;
  }
  .logo{
    width: 35%;
    height: auto;
  }
  button {
    visibility: hidden;
  }
  button:after {
    visibility: visible;
    content: "Inicio";
    background-color: transparent;
    font-family: Joaquinetica;
    border-radius: 4px;
    border: 2px solid white;
    color:white;
    padding: 3px;

  }

}

@media screen and (max-width: 386px) {

  .logo{
    width: 30%;
    height: auto;
  }
  .volver {
    padding-right: 9px;
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 307px) {
  .footer {
    font-size: 6px;
  }
  .volver {
    padding-right: 4px;
    padding-bottom: 10px;
  }
  button:after {
    padding: 2px;
  }

}
</style>