<template>
  <div class="wrapper-landing">
    <div class="header">
          <img src="../../../assets/logo_blanco.png" class="logo" alt="Sandoz">
          <a class="volver" rel="ar" href="/realidad-aumentada/">
            <button>Volver al inicio</button>
          </a>
    </div>
     <div class="aframe-scene-sandoz"> 
      <div v-if="$device.isMobile">      
        <div v-if="$device.isIos">                
          <div class="product-card">
            <div class="product-image">       
             <a rel="ar">        
               <img src="../../../assets/img/hyrimoz.jpg" alt="Hyrimoz"/>
             </a>
            </div>            
          </div>
          <a rel="ar" href="../../../assets/models/hyrimoz/hyrimoz.usdz">
            <buttn>Ver Detalle</buttn>
           </a>       
        </div>
        <div v-else>
          <div class="product-card">
           <div class="product-image">       
              <a rel="ar">        
                <img src="../../../assets/img/hyrimoz.jpg" alt="Hyrimoz"/>
             </a>
            </div>            
          </div>
          <a rel="ar" href="Mobile">
            <buttn>Ver Detalle</buttn>
          </a> 
        </div> 
      </div>
      <div v-else>
      <div class="product-card">
        <div class="product-image">       
          <a rel="ar">        
            <img src="../../../assets/img/hyrimoz.jpg" alt="Hyrimoz"/>
          </a>
        </div>            
      </div>
        <a rel="ar" href="Desktop">
          <buttn>Ver Detalle</buttn>
        </a> 
      </div>
    </div>
    <div class="footer">
      <img src="../../../assets/LOGO.png" class="logo" alt="Sandoz">
      <div class="socialf">
             <a
              class="share"
              rel="ar"
              href="https://www.youtube.com/user/Sandoz"
            >
              <img src="../../../assets/img/share/youtube.png" alt="Youtube" />
            </a>
            <a
              rel="ar"
              href="https://twitter.com/sandoz_global"
            >
              <img
                src="../../../assets/img/share/twitter.png"
                alt="Twitter"
              />
            </a>
            <a
              rel="ar"
              href="https://www.facebook.com/sandozglobal/"
            >
              <img src="../../../assets/img/share/facebook.png" alt="Facebook" />
            </a>       
      </div>
      <hr>
      <div class="copy">
        <p>@2020 Sandoz Farmacéutica, S.A - All Right Reserved</p>
      </div>

      <div class="terms">
        <p>Privacy Policy <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Terms of Service</p>
      </div>


    </div>
     
  </div>
</template>

<script>
export default {
  head() {
    return{
      title: 'Sandoz | Hyrimoz',
      meta: [
        {
          hid: "description",
          name:"description",
          content:"Plataforma de realidad aumentada"
        },
        { property: 'og:title', content: 'Hyrimoz'},
        { property: 'og:site_name', content: 'Epiloge'},
        { property: 'og:description', content: 'Hyrimoz'},
        { property: 'og:type', content: 'profile'},
        { property: 'og:url', content: 'https://sandoz-biosimilares.com/realidad-aumentada/inmuno/hyrimoz' },
        { property: 'og:image', content: 'https://sandoz-biosimilares.com/realidad-aumentada/assets/img/disenos/Hyr2.png' }     
      ],
      htmlAttrs: {
        lang: 'en'
      }
    }
  }
}
</script>


<style scoped>
@font-face {
  font-family: "Joaquinetica";
  src: url("../../../assets/Joaquinetica-Blk.ttf");
}

@font-face {
  font-family: "SFProText";
  src: url("../../../assets/SFProText.ttf");
}

@font-face {
  font-family: "Volta45Light";
  src: url("../../../assets/fonts/VoltaModernDisplay-45Light.otf");
}


@font-face{
  font-family: "VoltaModernDisplay95";
  src: url("../../../assets/fonts/VoltaModernDisplay-95Black.otf");
}

@font-face{
  font-family: "VoltaModernDisplay55";
  src: url("../../../assets/fonts/VoltaModernDisplay-55Roman.otf");
}

.wrapper-landing {
  display: inline-grid;
  height: 100%;
  width: 100%;
  background-color: #fff;
  font-family: Joaquinetica;
}

.aframe-scene-sandoz {
  height: 900px;
  background-color: #1c60a91f;
  padding-top: 25px;
}

.back-button {
  margin:12px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #1c60a9;
  color: white;
}

h4 {
  font-family: Joaquinetica;
  color: #1c60a9;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}

.product-image {
  overflow: hidden;
  border-radius: 10px;
}

.product-image > a > img {
  width: 300px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-card {
  border-radius: 10px;
  margin: 0 auto;
  width: 300px;
  padding-top: 0px;
  margin-bottom: 20px;
}



.youtube {
   
    height: 900px;
}
iframe {
    margin: 0 auto;
    display: block;
    width: 80%;
}

buttn { 
    font-weight: bold;
    background-color: #fff;
    font-family: Joaquinetica;
    color: #1c60a9;
    border-radius: 10px;
    width: 240px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #fff;
    padding: 10px 20px;
    margin: 0 auto;
}


.logo {  
  float:left;
  margin: 0px 15px 15px 10%;
}

button {
  background-color: transparent;
  font-family: Joaquinetica;
  border-radius: 4px;
  height: 30px;
  border:2px solid white;
  color:white;
}

.volver {
  width: 100%;
  position:relative;
  text-align: right;
  padding-right: 10%;
}

.header {
  background-color: #1c60a9;
  color: #fff;
  padding-top:1%;
  height: 12vh;
  border-top: solid #fff 0.5px;
  display: flex;
  align-items: center;
}

.footer {
  background-color: rgb(218, 218, 218);
  color: #1c60a9;
  font-family: VoltaModernDisplay55;
  padding-top:4%;
  border-top: solid #fff 0.5px;
  align-items: center;
}

.copy {
  position: absolute;
  width: 40%;
  margin: 0 0 5% 10%;
}

.terms{
  float: right;
  text-align: right;
  width: 40%;
  margin: 0 10% 5% 0;
}

.row.fourth {
  font-weight: 900;
  font-size: 12px;
  line-height: 29px;
}
.socialf {
  width: 20%;
  float: right;
  margin-top: 5px;
}
.socialf img{
  margin-left: 8%;
}
hr {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}


@media screen and (max-width: 900px) {
  .footer{
    font-size: 12px;
  }
}

@media screen and (max-width: 750px) {
  .footer{
    font-size: 10px;
  }
}

@media screen and (max-width: 600px) {
  .footer{
    font-size: 9px;
  }
}
@media screen and (max-width: 500px) {
 .footer {
    font-size: 8px;
  }
  .logo{
    width: 40%;
    height: auto;
  }
}
@media screen and (max-width: 400px) {
 .footer {
    font-size: 8px;
  }
  .logo{
    width: 35%;
    height: auto;
  }
  button {
    visibility: hidden;
  }
  button:after {
    visibility: visible;
    content: "Inicio";
    background-color: transparent;
    font-family: Joaquinetica;
    border-radius: 4px;
    border: 2px solid white;
    color:white;
    padding: 3px;

  }

}

@media screen and (max-width: 386px) {

  .logo{
    width: 30%;
    height: auto;
  }
  .volver {
    padding-right: 9px;
    padding-bottom: 10px;
  }

}

@media screen and (max-width: 307px) {
  .footer {
    font-size: 6px;
  }
  .volver {
    padding-right: 4px;
    padding-bottom: 10px;
  }
  button:after {
    padding: 2px;
  }

}


</style>